################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Markov.slnx/FileContentIndex/08cc29ed-9bb3-4257-b38f-01c889d3b2cb.vsidx
