################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Markov.slnx/FileContentIndex/08cc29ed-9bb3-4257-b38f-01c889d3b2cb.vsidx
/Markov/bin/Debug/net10.0/Markov.dll
/Markov/bin/Debug/net10.0/Markov.exe
/Markov/bin/Debug/net10.0/Markov.pdb
/Markov/obj/Debug/net10.0/ref/Markov.dll
/Markov/obj/Debug/net10.0/refint/Markov.dll
/Markov/obj/Debug/net10.0/apphost.exe
/Markov/obj/Debug/net10.0/Markov.AssemblyInfo.cs
/Markov/obj/Debug/net10.0/Markov.AssemblyInfoInputs.cache
/Markov/obj/Debug/net10.0/Markov.csproj.CoreCompileInputs.cache
/Markov/obj/Debug/net10.0/Markov.pdb
/Markov/obj/Debug/net10.0/Markov.dll
/Markov/obj/Debug/net10.0/Markov.sourcelink.json
/.vs/ProjectEvaluation/markov.projects.v10.bin
/.vs/ProjectEvaluation/markov.strings.v10.bin
/.vs/ProjectEvaluation/markov.metadata.v10.bin
/.vs/Markov.slnx/DesignTimeBuild/.dtbcache.v2
*.vsidx
/.vs/Markov.slnx/v18/DocumentLayout.json
/.vs/Markov.slnx/v18/.futdcache.v2
/.vs/Markov.slnx/v18/.suo
/.vs/Markov.slnx/v18/DocumentLayout.backup.json
